@page "/Projects"
<br />
<br />
<h2>My Projects</h2>
<br />
<br />
<MudGrid>
    <MudItem Style="display:flex">
        <MudCard>
            <MudCardMedia Image="images/sample_project_1.jpeg" Height="200" />
            <MudCardContent>
                <MudText Typo="Typo.h5">The sample of advice</MudText>
                <MudText Typo="Typo.body2">I am a 27 year old dotnet developer</MudText>
                <MudText Typo="Typo.body2">This is my website, explore all my projects</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More!</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem Style="display:flex">
        <MudCard>
            <MudCardMedia Image="images/sample_project_2.png" Height="200" />
            <MudCardContent>
                <MudText Typo="Typo.h5">Personal sites</MudText>
                <MudText Typo="Typo.body2">I am a 27 year old dotnet developer</MudText>
                <MudText Typo="Typo.body2">This is my website, explore all my projects</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More!</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem Style="display:flex">
        <MudCard>
            <MudCardMedia Image="images/sample_project_3.png" Height="200" />
            <MudCardContent>
                <MudText Typo="Typo.h5">Website analytics</MudText>
                <MudText Typo="Typo.body2">I am a 27 year old dotnet developer</MudText>
                <MudText Typo="Typo.body2">This is my website, explore all my projects</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More!</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>

</MudGrid>
